main {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: #fff6e5;
}

footer {
  margin-top: auto;
  height: 5vh;
  width: 100%;
}

@media screen and (max-width : 375px) {
  main {
    width: 375px;
  }
}