#error-page {
	width: 100%;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: white;
	color: black;
}

#error-content {
	display: flex;
	flex-wrap: wrap;
}

#error-page h1, #error-page p {
	width: 100%;
}