#achievements-section {
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
}

#certificates-wrapper {
	margin: 32px 5%;
	width: 90%;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
}

@media screen and (max-width: 900px) {
	#certificates-wrapper {
		width: 85%;
		margin: 32px 7.5%;
	}
}