#contact-section {
	width: 100%;
}

.external-div {
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #000000bf;
	cursor: not-allowed;
	z-index: 10;
}

#info-box {
	position: fixed;
	width: 20%;
	height: 20vh;
	border: ridge white 5px;
	text-align: center;
	background-color: #efefef;
	cursor: auto;
	opacity: 1;
	z-index: 11;
}

#info-box p {
	padding: 1% 2%;
	text-align: left;
}

#close-infobox-button {
	position: absolute;
	right: 0;
	top: 0;
	color: palevioletred;
	font-size: x-large;
	transition: transform 0.2s, color 0.2s;
	cursor: pointer;
}

#close-infobox-button:hover {
	color: red;
	transform: scale(1.1,1.1);
}

#close-infobox-button:active {
	transform: scale(1.0,1.0);
}

#contact-container {
	display: flex;
	flex-wrap: wrap;
}

#contact-form-container {
	width: 68%;
	margin: 4% 3.5%;
	padding: 1%;
	flex-wrap: wrap;
	background-color: #dee3fc;
	border: solid #808ecc 5px;
	border-radius: 25px;
}

#contact-form-container > h2 {
	margin: 1%;
}

#contact-form {
	width: 75%;
	margin: 2% 12.5%;
	padding: 1%;
	background-color: #edfdff;
	border: double black 5px;
}

#contact-form > div {
	width: 100%;
	padding: 1% 2%;
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}

#contact-form > div label {
	width: 30%;
}

#contact-form > div input {
	width: 60%;
}

#contact-form > div textarea {
	width: 60%;
	max-width: 60%;
	min-width: 60%;
	min-height: 3.2vh;
	max-height: 30vh;
}

::placeholder {
	white-space: nowrap;
	font-size: 0.9em;
}

#contact-form > #recaptcha {
	justify-content: center;
}

#contact-form > #recaptcha > .g-recaptcha {
	transform: scale(0.85);
}

#contact-form > #send-button-wrapper {
	margin: 1% 0;
	justify-content: center;
}

#send-button-wrapper > button {
	width: 75px;
	border: 1px solid black;
	border-radius: 25px;
	background-color: #edffed;
	color: black;
	font-weight: bold;
	box-shadow: 1.5px 1px 0.5px lightgray;
	cursor: pointer;
	transition: background-color 0.2s, color 0.2s, box-shadow 0.2s, transform 0.2s;
}

#send-button-wrapper > button:hover {
	background-color: green;
	color: white;
	box-shadow: 2px 1.5px 1px gray;
	transform: scale(1.075,1.075);
}

#send-button-wrapper > button:active {
	transform: scale(0.95,0.95);
}

#links-container {
	width: 18%;
	height: fit-content;
	margin: 4% 3.5%;
	padding: 1%;
	background-color: #dee3fc;
	border: solid #808ecc 5px;
	border-radius: 25px;
}

#links-container > h2 {
	margin: 1%;
}

#links {
	list-style-type: none;
	margin: 4% 10%;
	padding: 2% 3%;
	background-color: #edfdff;
	border: double black 5px;
	border-radius: 18px;
}

#links li {
	padding: 1.5% 3%;
	text-align: center;
}

#links li a {
	padding: 0.5% 2%;
	color: black;
	text-decoration: none;
}

#links li a:hover {
	color: blue;
	border: solid blue 1px;
}

@media screen and (max-width: 768px) {
	#contact-form-container {
		width: 75%;
		margin: 4% 12.5%;
		padding: 2.5% 1.5%;
	}
	#contact-form > div input {
		width: 100%;
	}
	#contact-form > div textarea {
		width: 100%;
		max-width: 100%;
		min-width: 100%;
	}
	#contact-form > #recaptcha > .g-recaptcha {
		transform: scale(0.8);
	}
	#info-box {
		width: 40%;
	}
	#links-container {
		width: 75%;
		margin: 4% 12.5%;
		padding: 2.5% 1.5%;
	}
}

@media screen and (max-width: 520px) {
	#contact-form > #recaptcha > .g-recaptcha {
		transform: scale(0.65);
	}
}

@media screen and (max-width: 450px) {
	#contact-form-container {
		width: 92%;
		margin: 4%;
	}
	#contact-form {
		width: 85%;
		margin: 2% 7.5%;
	}
	#info-box {
		width: 50%;
	}
	#links-container {
		width: 92%;
		margin: 4%;
	}
	#links {
		width: 85%;
		margin: 2% 7.5%;
	}
}

@media screen and (max-width: 410px) {
	#contact-form > #recaptcha > .g-recaptcha {
		transform: scale(0.5);
	}
}

@media screen and (max-width: 330px) {
	#contact-form > #recaptcha > .g-recaptcha {
		transform: scale(0.45);
	}
}