#contact-section {
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
}

#captcha-container {
	display: flex;
	justify-content: center;
}

.g-recaptcha {
	margin: auto;
	transform: scale(0.85);
}

@media screen and (max-width: 475px) {
	.g-recaptcha {
		transform: scale(0.75);
	}
}