#home-section {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

#salutation {
  margin: 0;
  font-size: 125%;
}

#content-body {
  margin: 2% 5%;
  font-size: 100%;
}

#profile-image {
  height: 25vh;
  width: 250px;
  margin: 1%;
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
}

#profile-image img {
  height: 90%;
  width: auto;
  aspect-ratio: 3/3;
}