#works-section {
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
}

#carousel-wrapper {
	margin: 32px 5%;
	width: 90%;
	text-align: center;
	position: relative;
	display: flex;
	align-items: center;
}

#project-links {
	list-style: none;
}

#project-links a {
	word-wrap: break-word;
}

#carousel {
	margin: 0 5%;
	padding: 0;
	width: 90%;
	display: grid;
	grid-auto-flow: column;
	grid-auto-columns: calc(100%/3);
	overflow-x: auto;
/*	scroll-snap-type: x mandatory;*/
	scroll-behavior: smooth;
	z-index: 1;
}

#carousel::-webkit-scrollbar {
	display: none;
}

#carousel.no-scroll-transition {
	scroll-behavior: auto;
}

#button-wrapper {
	width: 100%;
	display: flex;
	justify-content: space-between;
	position: absolute;
}

.prev,.next {
	cursor: pointer;
	transition: transform 0.5s;
}

.prev:active,.next:active {
	transform: scale(0.8);
}

.button-disabled > .prev,.button-disabled > .next {
	color: grey;
	cursor: not-allowed;
}

#jobs-wrapper {
	margin: 32px 12.5%;
	width: 75%;
}

#education-wrapper {
	margin: 32px 12.5%;
	width: 75%;
}

@media screen and (max-width: 900px) {
	#carousel {
		width: 75%;
		margin: 0 12.5%;
		grid-auto-columns: calc(100%/2);
	}
}

@media screen and (max-width: 600px) {
	#carousel-wrapper {
		width: 85%;
		margin: 32px 7.5%;
	}
	#carousel {
		grid-auto-columns: 100%;
	}
	#jobs-wrapper {
		width: 85%;
		margin: 32px 7.5%;
	}
	#experience-list {
		padding-inline-start: 20px;
	}
	#education-wrapper {
		width: 85%;
		margin: 32px 7.5%;
	}
}